<div class="container">
  <div class="row">
    <div class="col-md-6 m-auto text-center">
      <h2>Dashboard</h2>
      <p>welcome <%= email %></p>
      <a href="/user/logout" class="btn btn-danger">Logout</a>
    </div>
  </div>
</div>
