<div class="container mt-5">
  <div class="row">
    <div class="col-md-4 m-auto">
      <%- include('./partials/error-alerts') %>
      <!-- card -->
      <div class="card p-3">
        <div class="card-header text-center mb-4">Login</div>
        <form action="/user/register" method="POST">
          <div class="form-group mb-4">
            <label for="email" class="form-label">Email address</label>
            <input
              required
              mt-3
              type="email"
              class="form-control form-control-sm"
              id="email"
              name="email"
              aria-describedby="emailHelp"
              placeholder="Enter email"
              value="<% typeof email !== 'undefined' ?
            email : '' %>"
            />
          </div>
          <div class="form-group mb-4">
            <label for="password1" class="form-label">Password</label>
            <input
              mt-3
              type="password"
              class="form-control form-control-sm"
              id="password1"
              name="password1"
              placeholder="Password"
              value="<%
            typeof password1 !== 'undefined' ? password1 : '' %>"
            />
          </div>
          <div class="form-group mb-4">
            <label for="password2" class="form-label">Password</label>
            <input
              mt-3
              type="password"
              class="form-control form-control-sm"
              id="password2"
              name="password2"
              placeholder="Retype Password"
              value="<% typeof password2 !== 'undefined' ? password2 : '' %>"
            />
          </div>
          <button type="submit" class="btn btn-success btn-sm col-12">
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
